*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body,html{
    width: 154px;
    height: auto;
}
.functionName{
    font-size: 16px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.functionName p{
    white-space: nowrap;
    line-height: 24px;
    display: inline;
}
.functionSwitch{
    width: 44px;
    height: auto;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
.Switch_round{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.Switch_oblong{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: grey;
    padding: 2px;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes SwitchOnRound{
    from {left: 0px;}
    to {left: 20px;}
}
@keyframes SwitchOnOblong{
    from {background-color: grey;}
    to {background-color: green;}
}
@keyframes SwitchOffRound{
    from {left: 20px;}
    to {left: 0px;}
}
@keyframes SwitchOffOblong{
    from {background-color: green;}
    to {background-color: grey;}
}
